{
    "host" : "localhost",
    "others" : [{"host_id" : "localhost:8002"},
                {"host_id" : "localhost:8004"},
                {"host_id" : "localhost:8006"}
                ],
    "dbms_address" : "localhost:9000",
    "host_num" : 0,
    "port" : 8000,
    "timeout_millis": 500,
    "f": 1
}